@import "/src/styles/root.scss";
.sidebar-profile {
    max-width: 200px;
    transition: all 0.3s ease;
    .sidebar-content {
        .sidebar-menu {
            list-style-type: none;
            padding: 0;
            li {
                margin-bottom: 10px;
                a,
                .btn-link {
                    display: flex;
                    align-items: center;
                    padding: 10px;
                    text-decoration: none;
                    &.active {
                        border-radius: 0 10px 10px 0;
                        background-color: rgb(207, 210, 219);
                    }
                    .icon {
                        margin-right: 10px;
                    }
                    .text {
                        flex: 1;
                    }
                }
            }
        }
    }
}
