@import "/src/styles/root.scss";
#footer-user {
    width: 100%;
    color: $color-white;
    background-color: $color_global;
    border-top: 1px solid #e7eaf3;
    background-position: bottom;
    background-size: auto;
    background-repeat: no-repeat;
    a {
        color: $color-white;
    }
    .ml-row {
        margin-left: 0;
    }

    .title-footer {
        font-size: 28px;
        font-weight: 600;
    }

    .year {
        font-size: 14px;
        margin-bottom: 6px;
    }

    .icons a {
        color: $color-white;
        padding-right: 4px;
    }

    .sub-title {
        font-weight: 700;
        margin-bottom: 8px;
    }

    .text-link a,
    .text {
        color: $color-white;
        text-decoration: none;
    }

    .text-link a:hover {
        color: $color_global;
    }

    .copyright {
        margin-top: 12px;
        color: $color-white;
        margin-left: 0;
    }
}

@media screen and (max-width: 780px) {
    .container {
        .copyright {
            margin-left: 12px;
        }
        .ml-row {
            margin-left: 12px;
        }
    }
}
